USE [master]
GO
/****** Object:  Database [bd_apunta_todo]    Script Date: 27/5/2026 15:14:37 ******/
CREATE DATABASE [bd_apunta_todo]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'bd_apunta_todo', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\bd_apunta_todo.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'bd_apunta_todo_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\bd_apunta_todo_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [bd_apunta_todo].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [bd_apunta_todo]
GO
/****** Object:  Table [dbo].[tbl_categorias]    Script Date: 27/5/2026 15:14:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_categorias](
	[id_categoria] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[descripcion] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_categoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_items]    Script Date: 27/5/2026 15:14:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_items](
	[id_item] [int] IDENTITY(1,1) NOT NULL,
	[id_lista] [int] NOT NULL,
	[id_producto] [int] NOT NULL,
	[cantidad] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_item] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_listas]    Script Date: 27/5/2026 15:14:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_listas](
	[id_lista] [int] IDENTITY(1,1) NOT NULL,
	[id_usuario] [int] NOT NULL,
	[nombre] [varchar](150) NOT NULL,
	[fecha_crecion] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_lista] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_productos]    Script Date: 27/5/2026 15:14:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_productos](
	[id_producto] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[unidad_de_medida] [varchar](50) NOT NULL,
	[id_categoria] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_producto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_roles]    Script Date: 27/5/2026 15:14:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_roles](
	[id_rol] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[descripcion] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_rol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_usuarios]    Script Date: 27/5/2026 15:14:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_usuarios](
	[id_usuario] [int] IDENTITY(1,1) NOT NULL,
	[id_rol] [int] NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[apellido] [varchar](100) NOT NULL,
	[telefono] [varchar](12) NOT NULL,
	[email] [varchar](100) NOT NULL,
	[contraseña] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tbl_items]  WITH CHECK ADD  CONSTRAINT [fk_items_lista] FOREIGN KEY([id_lista])
REFERENCES [dbo].[tbl_listas] ([id_lista])
GO
ALTER TABLE [dbo].[tbl_items] CHECK CONSTRAINT [fk_items_lista]
GO
ALTER TABLE [dbo].[tbl_items]  WITH CHECK ADD  CONSTRAINT [fk_items_producto] FOREIGN KEY([id_producto])
REFERENCES [dbo].[tbl_productos] ([id_producto])
GO
ALTER TABLE [dbo].[tbl_items] CHECK CONSTRAINT [fk_items_producto]
GO
ALTER TABLE [dbo].[tbl_listas]  WITH CHECK ADD  CONSTRAINT [fk_listas_usuario] FOREIGN KEY([id_usuario])
REFERENCES [dbo].[tbl_usuarios] ([id_usuario])
GO
ALTER TABLE [dbo].[tbl_listas] CHECK CONSTRAINT [fk_listas_usuario]
GO
ALTER TABLE [dbo].[tbl_productos]  WITH CHECK ADD  CONSTRAINT [fk_productos_categoria] FOREIGN KEY([id_categoria])
REFERENCES [dbo].[tbl_categorias] ([id_categoria])
GO
ALTER TABLE [dbo].[tbl_productos] CHECK CONSTRAINT [fk_productos_categoria]
GO
ALTER TABLE [dbo].[tbl_usuarios]  WITH CHECK ADD  CONSTRAINT [fk_usuarios_rol] FOREIGN KEY([id_rol])
REFERENCES [dbo].[tbl_roles] ([id_rol])
GO
ALTER TABLE [dbo].[tbl_usuarios] CHECK CONSTRAINT [fk_usuarios_rol]
GO
/****** Object:  StoredProcedure [dbo].[actualizar_usuario]    Script Date: 27/5/2026 15:14:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[actualizar_usuario]
    @id_usuario INT,
    @id_rol INT,
    @nombre VARCHAR(100),
    @apellido VARCHAR(100),
    @telefono VARCHAR(12),
    @email VARCHAR(100),
    @contraseña VARCHAR(10)
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY

        -- Validar que el usuario exista
        IF NOT EXISTS (SELECT 1 FROM tbl_usuarios WHERE id_usuario = @id_usuario)
        BEGIN
            SELECT 
                'ERROR' AS Estado,
                'El usuario no existe' AS Mensaje;
            RETURN;
        END

        -- Actualizar datos del usuario
        UPDATE tbl_usuarios
        SET 
            id_rol = @id_rol,
            nombre = @nombre,
            apellido = @apellido,
            telefono = @telefono,
            email = @email,
            contraseña = @contraseña
        WHERE id_usuario = @id_usuario;

        -- Retornar mensaje de éxito
        SELECT 
            'OK' AS Estado,
            'Usuario actualizado correctamente' AS Mensaje;

    END TRY

    BEGIN CATCH
        SELECT
            'ERROR' AS Estado,
            ERROR_MESSAGE() AS Mensaje_Error,
            ERROR_NUMBER() AS Numero_Error,
            ERROR_LINE() AS Linea_Error;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[agregar_item_lista]    Script Date: 27/5/2026 15:14:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[agregar_item_lista]
    @id_lista INT,
    @id_producto INT,
    @cantidad DECIMAL(10,2)
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY

        -- Validar que la lista exista
        IF NOT EXISTS (SELECT 1 FROM tbl_listas WHERE id_lista = @id_lista)
        BEGIN
            SELECT 
                'ERROR' AS Estado,
                'La lista especificada no existe.' AS Mensaje;
            RETURN;
        END

        -- Validar que el producto exista
        IF NOT EXISTS (SELECT 1 FROM tbl_productos WHERE id_producto = @id_producto)
        BEGIN
            SELECT 
                'ERROR' AS Estado,
                'El producto especificado no existe.' AS Mensaje;
            RETURN;
        END

        -- Validar que el item no esté repetido en la lista
        IF EXISTS (
            SELECT 1 
            FROM tbl_items 
            WHERE id_lista = @id_lista 
              AND id_producto = @id_producto
        )
        BEGIN
            SELECT 
                'ERROR' AS Estado,
                'Este producto ya fue agregado a esta lista.' AS Mensaje;
            RETURN;
        END

        -- Insertar el ítem
        INSERT INTO tbl_items (id_lista, id_producto, cantidad)
        VALUES (@id_lista, @id_producto, @cantidad);

        SELECT 
            'OK' AS Estado,
            'Producto agregado correctamente a la lista.' AS Mensaje,
            SCOPE_IDENTITY() AS id_item_creado;

    END TRY

    BEGIN CATCH
        SELECT 
            'ERROR' AS Estado,
            ERROR_MESSAGE() AS Mensaje_Error,
            ERROR_NUMBER() AS Numero_Error,
            ERROR_LINE() AS Linea_Error;
    END CATCH

END;
GO
/****** Object:  StoredProcedure [dbo].[buscar_usuario_por_correo]    Script Date: 27/5/2026 15:14:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[buscar_usuario_por_correo]
    @correo VARCHAR(150)
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY

        -- Validamos que el correo exista
        IF NOT EXISTS (SELECT 1 FROM tbl_usuarios WHERE email = @correo)
        BEGIN
            SELECT 
                'ERROR' AS Estado,
                'No existe ningún usuario con ese correo.' AS Mensaje;
            RETURN;
        END

        -- Si existe, lo consultamos
        SELECT 
            'OK' AS Estado,
            'Usuario encontrado correctamente' AS Mensaje,
            u.id_usuario,
            u.nombre,
            u.apellido,
            u.email,
            u.id_rol
        FROM tbl_usuarios u
        WHERE u.email = @correo;

    END TRY

    BEGIN CATCH
        SELECT 
            'ERROR' AS Estado,
            ERROR_MESSAGE() AS Mensaje_Error,
            ERROR_NUMBER() AS Numero_Error,
            ERROR_LINE() AS Linea_Error;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[crear_lista]    Script Date: 27/5/2026 15:14:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[crear_lista]
    @id_usuario INT,
    @nombre_lista VARCHAR(150)
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY

        -- Insertar la lista
        INSERT INTO tbl_listas (id_usuario, nombre, fecha_crecion)
        VALUES (@id_usuario, @nombre_lista, GETDATE());

        -- Devolver la lista creada
        SELECT 
            'OK' AS Estado,
            'Lista creada correctamente.' AS Mensaje,
            SCOPE_IDENTITY() AS id_lista_creada;

    END TRY

    BEGIN CATCH
        SELECT 
            'ERROR' AS Estado,
            ERROR_MESSAGE() AS Mensaje_Error,
            ERROR_NUMBER() AS Numero_Error,
            ERROR_LINE() AS Linea_Error;
    END CATCH

END;
GO
/****** Object:  StoredProcedure [dbo].[crear_producto]    Script Date: 27/5/2026 15:14:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[crear_producto]
    @nombre VARCHAR(100),
    @unidad_de_medida VARCHAR(50),
    @id_categoria INT
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY

        -- Validar que la categoría exista
        IF NOT EXISTS (SELECT 1 FROM tbl_categorias WHERE id_categoria = @id_categoria)
        BEGIN
            SELECT
                'ERROR' AS Estado,
                'La categoría no existe' AS Mensaje;
            RETURN;
        END

        -- Validar que no exista un producto con el mismo nombre en la misma categoría
        IF EXISTS (
            SELECT 1 FROM tbl_productos 
            WHERE nombre = @nombre AND id_categoria = @id_categoria
        )
        BEGIN
            SELECT 
                'ERROR' AS Estado,
                'Ya existe un producto con ese nombre en esta categoría' AS Mensaje;
            RETURN;
        END

        -- Insertar el nuevo producto
        INSERT INTO tbl_productos (nombre, unidad_de_medida, id_categoria)
        VALUES (@nombre, @unidad_de_medida, @id_categoria);

        -- Retornar éxito con el id generado
        SELECT 
            'OK' AS Estado,
            'Producto creado correctamente' AS Mensaje,
            SCOPE_IDENTITY() AS id_producto_creado;

    END TRY

    BEGIN CATCH
        SELECT
            'ERROR' AS Estado,
            ERROR_MESSAGE() AS Mensaje_Error,
            ERROR_NUMBER() AS Numero_Error,
            ERROR_LINE() AS Linea_Error;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[crear_usuario]    Script Date: 27/5/2026 15:14:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[crear_usuario]
    @id_rol INT,
    @nombre VARCHAR(100),
    @apellido VARCHAR(100),
    @telefono VARCHAR(12),
    @email VARCHAR(100),
    @contraseña VARCHAR(10)
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY

        -- Validación de rol
        IF NOT EXISTS (SELECT 1 FROM tbl_roles WHERE id_rol = @id_rol)
        BEGIN
            SELECT
                'ERROR' AS Estado,
                'El rol no existe' AS Mensaje;
            RETURN;
        END

        -- Validación de email duplicado
        IF EXISTS (SELECT 1 FROM tbl_usuarios WHERE email = @email)
        BEGIN
            SELECT
                'ERROR' AS Estado,
                'El email ya está registrado' AS Mensaje;
            RETURN;
        END

        -- Insertar el usuario
        INSERT INTO tbl_usuarios (id_rol, nombre, apellido, telefono, email, contraseña)
        VALUES (@id_rol, @nombre, @apellido, @telefono, @email, @contraseña);

        -- Retornar éxito y el ID creado
        SELECT 
            'OK' AS Estado,
            'Usuario creado correctamente' AS Mensaje;

    END TRY

    BEGIN CATCH
        -- Capturar el error y retornarlo
        SELECT 
            'ERROR' AS Estado,
            ERROR_MESSAGE() AS Mensaje_Error,
            ERROR_NUMBER() AS Numero_Error,
            ERROR_LINE() AS Linea_Error;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[eliminar_usuario]    Script Date: 27/5/2026 15:14:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[eliminar_usuario]
    @id_admin INT,
    @id_usuario_eliminar INT
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        
        IF NOT EXISTS (SELECT 1 FROM tbl_usuarios WHERE id_usuario = @id_admin)
        BEGIN
            SELECT 
                'ERROR' AS Estado,
                'El usuario que intenta realizar la acción no existe' AS Mensaje;
            RETURN;

        END
        -- Validar que el usuario administrador tenga el rol permitido (rol = 2)
        IF NOT EXISTS (
            SELECT 1 
            FROM tbl_usuarios 
            WHERE id_usuario = @id_admin AND id_rol = 1
        )
        BEGIN
            SELECT 
                'ERROR' AS Estado,
                'No tiene permisos para eliminar usuarios' AS Mensaje;
            RETURN;
        END

        -- Validar que el usuario a eliminar exista
        IF NOT EXISTS (SELECT 1 FROM tbl_usuarios WHERE id_usuario = @id_usuario_eliminar)
        BEGIN
            SELECT 
                'ERROR' AS Estado,
                'El usuario que desea eliminar no existe' AS Mensaje;
            RETURN;
        END

        -- Eliminar el usuario
        DELETE FROM tbl_usuarios 
        WHERE id_usuario = @id_usuario_eliminar;

        SELECT
            'OK' AS Estado,
            'Usuario eliminado correctamente' AS Mensaje;

    END TRY

    BEGIN CATCH
        SELECT 
            'ERROR' AS Estado,
            ERROR_MESSAGE() AS Mensaje_Error,
            ERROR_NUMBER() AS Numero_Error,
            ERROR_LINE() AS Linea_Error;
    END CATCH

END;
GO
/****** Object:  StoredProcedure [dbo].[mostrar_listas_por_usuario]    Script Date: 27/5/2026 15:14:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[mostrar_listas_por_usuario]
    @id_usuario INT
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY

        -- Validar si el usuario existe
        IF NOT EXISTS (SELECT 1 FROM tbl_usuarios WHERE id_usuario = @id_usuario)
        BEGIN
            SELECT 
                'ERROR' AS Estado,
                'El usuario especificado no existe.' AS Mensaje;
            RETURN;
        END

        -- Traer sus listas
        SELECT 
            l.id_lista,
            l.nombre AS nombre_lista,
            l.fecha_crecion
        FROM tbl_listas l
        WHERE l.id_usuario = @id_usuario
        ORDER BY l.fecha_crecion DESC;

    END TRY

    BEGIN CATCH
        SELECT 
            'ERROR' AS Estado,
            ERROR_MESSAGE() AS Mensaje_Error,
            ERROR_NUMBER() AS Numero_Error,
            ERROR_LINE() AS Linea_Error;
    END CATCH

END;
GO
/****** Object:  StoredProcedure [dbo].[mostrar_productos_con_categoria]    Script Date: 27/5/2026 15:14:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[mostrar_productos_con_categoria]
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY

        SELECT 
            p.id_producto,
            p.nombre AS nombre_producto,
            p.unidad_de_medida,
            c.id_categoria,
            c.nombre AS nombre_categoria
        FROM tbl_productos p
        INNER JOIN tbl_categorias c 
            ON p.id_categoria = c.id_categoria
        ORDER BY 
            c.nombre ASC,
            p.nombre ASC;

    END TRY

    BEGIN CATCH
        SELECT
            'ERROR' AS Estado,
            ERROR_MESSAGE() AS Mensaje_Error,
            ERROR_NUMBER() AS Numero_Error,
            ERROR_LINE() AS Linea_Error;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[obtener_listas_con_items_por_usuario]    Script Date: 27/5/2026 15:14:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[obtener_listas_con_items_por_usuario]
    @id_usuario INT
AS
BEGIN
    SET NOCOUNT ON;

        SELECT 
            -- Datos del usuario dueño de la lista
            u.nombre AS nombre_usuario,
            u.apellido AS apellido_usuario,
            
            -- Datos de la lista
            l.id_lista,
            l.nombre AS nombre_lista,
            l.fecha_crecion,

            -- Datos del producto
            p.nombre AS nombre_producto,

            -- Datos del item
            i.cantidad AS cantidad_producto

        FROM tbl_items i
        INNER JOIN tbl_listas l ON l.id_lista = i.id_lista
        INNER JOIN tbl_usuarios u ON u.id_usuario = l.id_usuario
        INNER JOIN tbl_productos p ON p.id_producto = i.id_producto
        WHERE u.id_usuario = @id_usuario
        ORDER BY l.id_lista;

END;
GO
USE [master]
GO
